
// Body
$body-bg: white;

// Typography
$font: 'Muli', sans-serif;
$font-family-sans-serif: 'Muli', sans-serif;

$square-bg: #f0f0f0;
$color-main: #000000;
$color-secondary: #ffffff;
$color-details: #1228ff;